<form class="searchCnt" (submit)="submitLoc(cityName)">
  <input type="text" id="cityName" placeholder="Search City" #cityName>
  <button>search</button>
</form>

<div class="container" *ngIf="!weather">
  <div class="upper-data">
    <img src="/assets/hot.jpeg" *ngIf="14 > 15">
    <img src="/assets/cold.jpeg" *ngIf="14 <= 15">
    <div class="weather-data">
      <div class="location">{{weather.name}},{{weather.sys.country}}</div>
      <div class="temperature">20 ºC</div>
    </div>
  </div>


  <div class="lower-data">
    <div class="more-info-label">
      More Information:
    </div>
    <div class="more-info-container">
      <div class="info-block">
        <div class="info-block-label">
          <img src="/assets/min.PNG" alt="">
          <span>Min.</span>
        </div>
        <div class="info-block-value">
          {{weather.main.temp_min}} ºC
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="/assets/max.PNG" alt="">
          <span>Max.</span>
        </div>
        <div class="info-block-value">
          {{weather.main.temp_max}} ºC
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="/assets/humidity.PNG" alt="">
          <span>Humidity</span>
        </div>
        <div class="info-block-value">
          {{weather.main.humidity}}%
        </div>
      </div>

      <div class="info-block">
        <div class="info-block-label">
          <img src="/assets/wind.PNG" alt="">
          <span>Wind</span>
        </div>
        <div class="info-block-value">
          {{weather.wind.speed}} Km/h
        </div>
      </div>

    </div>
  </div>
</div>
<router-outlet></router-outlet>